.banner img {
    width: 80%;

    height: auto;

  
}

.content img {
    width: 100%;

    float: right;

    margin: 1em;

    border: 0.2em solid #cccccc;
}

.history-image{

    text-align: right;

    margin: 2em 0;
    
    width: 90%;
}

.history-img

{  width:80%;

    max-width: 700px;
    
    height: auto;}
    
.cruisers-page .ship-card img {
    width: 80%;
    height: auto;
    border: 3px solid #29b6e8;
    margin: 1em 0;}
    
   

.yamato-page .military-image {
    display: block;
    width: 100%;
    clear: both; 
    margin: 2em 0;
    float: none !important;
}

.yamato-page .military-image img {
    float: none !important;     
    width: 100% !important;  
    height: auto !important;    
    border: 5px solid #555;
    box-sizing: border-box;    
    display: block;
    margin: 0 auto !important;  
}

/* Универсальный фикс для всех картинок */
img {
    max-width: 100%; /* Картинка никогда не будет шире экрана */
    height: auto;    /* Сохраняем пропорции, чтобы не сплющило */
}


    

