.banner img {
    width: 100%;
    height: 250px;
    display: block;
}

.content img {
    max-width: 100%;
    height: auto;
    float: right;
    margin: 1em;
    border: 0.2em solid #cccccc;
}

max-width: 800px {

    .content img {
        float: none;
        display: block;
        margin: 10px auto;
    }

    .ship-media img,
    .history-image img,
    .history-img img,
    .military-image img {
        width: 100%;
        height: auto;
    }
}
    

