nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    background-color: black;

    color: white;

    text-decoration: none;

    padding: 0.7em 1em;

    font-size: 1.6em;
}

nav a:hover {
    background-color: #444444;
}

.sidebar ul {
    list-style: none;

    padding: 0;
}

.sidebar li {
    margin-bottom: 1em;
}

.sidebar a {
    text-decoration: none;

    color: #55c6e8;

    font-size: 1.6em;
}

.sidebar a:hover {
    color: black;
}

form {
    margin-bottom: 2em;
}

input {
    width: 70%;

    padding: 0.5em;

    font-size: 1.4em;
}

button {
    padding: 0.5em 1em;

    font-size: 1.4em;
}

@media screen and (max-width: 800px) {

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin: 4px 0;
        width: 100%;
        max-width: 300px;
    }

    nav a {
        display: block;
        text-align: center;
        font-size: 1.2em;
    }

}

