h1 {
    margin: 0;

    font-size: 5em;

    font-weight: normal;

    color: #222222;
}

h2 {
    font-size: 4em;

    font-weight: normal;

    color: #222222;
}

h3 {
    font-size: 2.5em;

    font-weight: normal;

    color: #222222;

    margin-top: 1.5em;
}

p {
    font-size: 1.6em;

    line-height: 1.5em;

    color: #555555;

    text-align: justify;
}

.post-info {
    color: #55c6e8;

    font-size: 1.6em;
}

.history-list{

    font-size: 1.6em;

    color: #555555;

    line-height: 1.8em;
}

  .date-list { font-size: 1.6em; line-height: 1.6em;}
  
  .cruisers-page h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #29b6e8;
}

.cruisers-page .ship-card h3 {
    font-style: italic;
    border-bottom: 1px solid #ccc;
}


.yamato-page p {
    color: #dddddd; 
}

.yamato-page h2, .yamato-page h3 {
    color: #ff4d4d; 
    border-bottom: 1px solid #ff4d4d;
}

.yamato-page .specs-box ul {
    list-style: none;
    padding: 0;
}

.yamato-page .specs-box li {
    font-size: 1.4em;
    padding: 0.5em 0;
    border-bottom: 1px solid #555;
}


   
   

