h1 {
    margin: 0;

    font-size: 5em;

    font-weight: normal;

    color: #222222;
}

h2 {
    font-size: 4em;

    font-weight: normal;

    color: #222222;
}

h3 {
    font-size: 2.5em;

    font-weight: normal;

    color: #222222;

    margin-top: 1.5em;
}

p {
    font-size: 1.6em;

    line-height: 1.5em;

    color: #555555;

    text-align: justify;
}

.post-info {
    color: #55c6e8;

    font-size: 1.4em;
}